<html>

<head>
    <style>
    </style>
</head>

<body>
    <p>SOFTWARE PANELERO - RECUPERACIÓN DE CONTRASEÑA</p>
    <br>
    <p>Estimado(a) {{name}}:</p>
    <br>
    <p>Se ha generado una nueva solicitud para cambiar su contraseña.</p>
 
    <p>Oprima en el siguiente enlace para restablecer su contrasaña</p>
    <a href="{{url}}">{{url}}</a>
    <br>
    <br>
    <p>Atentamente,SISTEMA ADMINISTRATIVO DEL SOFTWARE PANELERO</p>

</body>

</html>